body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  background-color: #121212;
  transition: width 1s ease-in-out, left 1.5s ease-in-out;
}
h1 {
  color: white;
}

.musicTitle {
  margin-left: 10px;
  color: white;
  size: 0.5rem;
  font-weight: bold;
}

.musicBorder {
  display: flex;
  justify-content: initial;
  flex-direction: row;
}

.buttonHover {
  border: none;
  background-color: #121212;
}
